.container.efx
     header.col-full
      .wrapper
       .text-wrapper
        .sub-title Css course
        .title ECV
        .under-title 2016
        .description Module Webdev @1
        button.go Go
